

#character{
  display: block;
  width: 100px;
  height: 50px;
  border: 1px black solid;
  background-color: red;
  position: absolute;
  top: 500px;
  left: 300px;
}

#control_div {
/*  position: absolute;
  left:300px;
  top:100px;*/
  border-left: 3px solid black;
  text-align: center;
}

.col-md-4 {
  height: 100%;
}

.row {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}