


#current_score {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 20px;
}
#character{
  display: block;
  width: 100px;
  height: 50px;
  border: 1px black solid;
  background-color: red;
  position: absolute;
  top: 500px;
  left: 300px;
  transition: all .1s linear;
}

#control_div {
  position: relative;
  top:100px;
  text-align: center;
}

#control_column {
    border-left: 3px solid black;
}


.falling_object {
  background-color: yellow;
  width: 25px;
  height: 50px;
  position: absolute;
  transition: all 1s linear;
}

.col-md-4 {
  height: 100%;
}

.row {
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#game_button {
  height: 50px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
